body{
  background-color:  #92a8d1;
}
img {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}
.circle1 {
  position: absolute;
  margin-left: 400px;
  margin-top: 120px;
}

.circle2 {
  position: absolute;
  margin-left: 400px;
  margin-top: 180px;
}

.circle3 {
  position: absolute;
  margin-left: 400px;
  margin-top: 240px;
}

.circle4 {
  position: absolute;
  margin-left: 400px;
  margin-top: 300px;
}

.circle5 {
  position: absolute;
  margin-left: 400px;
  margin-top: 360px;
}

.circle6 {
  position: absolute;
  margin-left: 400px;
  margin-top: 420px;
}

.circle7 {
  position: absolute;
  margin-left: 400px;
  margin-top: 480px;
}

.circle8 {
  position: absolute;
  margin-left: 400px;
  margin-top: 540px;
}

.circle9 {
  position: absolute;
  margin-left: 400px;
  margin-top: 600px;
}

.circle10 {
  position: absolute;
  margin-left: 400px;
  margin-top: 660px;
}
